.dashboard-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  border-left: 2px solid var(--border-table);
}
.style-dashboard {
  margin-top: 20px;
}
.frame-dashboard {
  display: flex;

  border-left: 2px solid var(--border-table);
  border-bottom: 2px solid var(--border-table);
}
