.my-courses {
  margin-top: 100px;
  margin: 40px auto;
  padding: 30px;
  background-color: #e6f4ff; /* Nền xanh nhạt */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 120, 212, 0.1);
  font-family: "Segoe UI", sans-serif;
}
.my-courses h2 {
  text-align: center;
  color: #078dce; /* Xanh dương đậm */
  font-size: 28px;
  margin-bottom: 24px;
}

.my-courses ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.course-item {
  background-color: #ffffff;
  border-left: 5px solid #0288d1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: transform 0.2s ease;
}

.course-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.course-item h4 {
  margin: 0 0 8px 0;
  font-size: 20px;
  color: #0056b3;
}

.course-item p {
  margin: 0;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-courses p {
  text-align: start;
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  font-style: italic;
}
.title-my-course {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-my-course h2 {
  margin-left: 500px;
}
.again-my-course {
  border: none;
  background-color: #e6f4ff;
}
.again-my-course i {
  font-size: 24px;
  color: #099cea;
  cursor: pointer;
}
