.table-left-nguoi-dung {
  border-right: 2px solid var(--border-table);
  border-bottom: 2px solid var(--border-table);
}
.table-customer-right {
  padding: 20px;
  flex: 1;
}
.customer-dashboard {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-top: 20px;
}
.table-search {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.search-input {
  padding: 8px;
  margin-bottom: 12px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.table-user {
  border-collapse: collapse;
  width: 100%;
  margin-right: 30px;
  border-top: 2px solid var(--border-table);
  border-left: 2px solid var(--border-table);
}

.table-user th,
.table-user td {
  border-right: 2px solid var(--border-table);
  border-bottom: 2px solid var(--border-table);
  padding: 10px;
  text-align: left;
}

.table-user th {
  background-color: #f2f2f2;
}

.btn-search-filter-customer {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start; /* hoặc center nếu muốn căn giữa */
}
.search-input {
  padding: 10px;
  width: 280px;
  border-radius: 6px;

  font-size: 14px;
}
