.register-course-container {
  display: flex;
  gap: 40px;
  padding: 40px 60px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 12px;
}
.page-regis {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-regis h1 {
  color: #0ba6f9;
}
.left-section {
  flex: 3;
}
.left-section img {
  width: 820px;
  height: 350px;
}

.right-section {
  flex: 1;
  position: sticky; /* giữ nguyên vị trí khi cuộn */
  top: 100px;
  height: fit-content;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
}

.course-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.course-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
}

.author {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.description-regis {
  font-size: 16px;
  line-height: 1.9;
  color: #333;
  white-space: normal; /* Cho phép tự động xuống dòng */
  overflow: visible; /* Cho phép mở rộng theo nội dung */
  text-overflow: unset;
}
.description-scroll {
  max-height: 8.2em; /* 2 dòng, mỗi dòng khoảng 1.6em */
  overflow-y: auto;
  padding-right: 10px;

  line-height: 1.6;
}

.btn-dang-ki {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #089bea;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn-dang-ki:hover {
  background-color: #0079c1;
}

.course-info {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}

.loading {
  text-align: center;
  padding: 60px;
  font-size: 20px;
  color: #666;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin-bottom: 20px;
  color: #1097df;
}

.btn-close {
  padding: 10px 20px;
  border: none;
  background-color: #089bea;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #0070b8;
}
.right-register-people .user-register {
  margin-top: 10px;
}
.style-but-chinh-sua {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}
