@import "../assets/css/colors.css";
.course-all {
  display: flex;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
}
.category-block {
  margin-top: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.item-course {
  width: 270px;
  height: 420px;
  flex-shrink: 0;

  border: 1px solid #ddd;
  border-radius: 10px;

  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.item-course:hover {
  transform: translateY(-5px);
}

.img-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.content-item {
  padding: 15px;
  height: auto;
}

.content-item h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-item-ban-chay {
  padding: 15px;
}
.content-item-ban-chay h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis;
  cursor: pointer;
}

.content-item-sieu-uu-dai {
  padding: 15px;
}
.content-item-sieu-uu-dai h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis;
  cursor: pointer;
}
.content-item-hoc-nhieu-trong-tuan {
  padding: 15px;
}
.content-item-hoc-nhieu-trong-tuan h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis;
  cursor: pointer;
}
.content-item-khoa-hoc-moi-ra-mat {
  padding: 15px;
}
.content-item-khoa-hoc-moi-ra-mat h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần tràn */
  text-overflow: ellipsis;
  cursor: pointer;
}
.frame-item {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
.title {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.title-top-ban-chay {
  display: flex;
  justify-content: start; /* đẩy 2 phần tử ra 2 bên */
  align-items: center; /* căn giữa theo chiều dọc */

  padding: 0 20px; /* tạo khoảng cách hai bên nếu cần */
}

.title-top-ban-chay h2 {
  margin-right: 40px;
}
