.container {
  max-width: 1200px;
  margin: 0 auto;

  background-color: white;
}
.background {
  background-color: #fcfcfc;
  margin-top: 60px;
}
.course-section {
  margin-bottom: 32px;
  padding: 20px;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.input-timkiem {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}

.course-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.course-card:hover {
  transform: translateY(-4px);
}

.course-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.info-course {
  padding: 12px;
}

.info-course h4 {
  margin: 0 0 8px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.author {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
  font-style: italic; /* Làm chữ nghiêng */
  font-weight: normal;
  margin-top: 0;
}

.description {
  font-size: 13px;
  color: #444;
  margin-bottom: 8px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.register-button {
  width: 100%;
  margin-top: 8px;
}

.course-card .rating {
  margin-bottom: 8px;
}
.ellipsis-1-line {
  white-space: nowrap; /* Không cho xuống dòng */
  overflow: hidden; /* Ẩn phần dư */
  text-overflow: ellipsis; /* Thêm dấu ... */
  cursor: pointer;
}
.panal-title-item {
  display: flex;
}
.layout-wrapper {
  display: flex;
  gap: 24px;
}

/* Panel bên trái */
.left-panel {
  width: 270px;
  flex-shrink: 0;
  position: sticky;
  top: 100px; /* giữ ở 100px từ top */
  align-self: flex-start;
  margin: 15px;
}

/* Nội dung bên phải */
.right-panel {
  flex: 1 1;
  border-left: 20px solid #fcfcfc;
}
.panal-container {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.input-loc-theo-danh-muc {
  width: 250px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}
