.filter-dropdown {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-dropdown {
  font-weight: 600;
  margin-right: 8px;
}
.filter-dropdown select {
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 300px;
  margin-left: 15px;
}
.style-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 24px;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h3 {
  margin-bottom: 16px;
}
.modal-content div {
  margin-bottom: 12px;
}
.modal-content label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}
.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 200px;
}

.checkbox-group label {
  margin-left: 20px;
}
.modal-content h3 {
  color: #089bea;
  display: flex;
  justify-content: flex-start;
}
.style-filter-1 {
  background-color: #299fdc;
  color: white;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: anchor-center;
  margin-left: 150px;
}
.btn-filter {
  width: 180px;
  margin-left: 20px;
  padding: 8px 16px;
  background-color: var(--btn-search);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.btn-filter i {
  margin-right: 10px;
  font-weight: bolder;
}
.btn-filter h5 {
  color: black;
}
.btn-filter-star {
  margin: 10px;
  background-color: #089bea;
  border: 1px solid #089bea;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
  width: 70px;
}
