.btn-chinhSua {
  background: none;
  border: none;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
}
.btn-chinhSua i {
  font-size: 20px;
  color: #0288d1;
}
.btn-chinhSua:hover {
  background-color: #6bbcff;
}
